.purchase{
    margin-top: 30px;
}

.purchase__span{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    
}

.purchase__span span:first-child{
    font-size:14px;
    font-weight: 600;
    color:rgb(219, 4, 4);
    background-color: rgb(251, 222, 217);
    padding: 5px 8px;
    margin-right: auto;
    border-radius: 13px;
    margin-bottom: 14px;
}

.purchase__span span:nth-child(2),.brand__span span:first-child{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}

.purchase__span span:last-child{
    opacity: 60%;
}

.purchase__choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.purchase__choose span:first-child{
    font-size: 65px;
    font-weight: 600;
    opacity: 60%;
    background-color: rgba(0,0,0,0.1);
    padding: 30px 37px;
    border-radius: 20px;
    margin-bottom: 27px;
}

.purchase__choose span:last-child{
    color:white;
    background-color: rgb(53, 99, 238);
    padding: 18px 150px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.brand__span{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.brand__span span:last-child{
    color: rgb(53, 99, 238);
}

.brand__icon{
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.fa-heart{
    color:tomato;
}

.fa-mug-hot{
    color:green;
}

.fa-cake-candles{
    color:rgb(0, 166, 255);
}

.fa-utensils{
    color:orange;
}